1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [1]:

L=[10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("List after adding 200 and 300: ",L)

L.remove(10)
L.remove(30)
print("List after removing 10 and 30: ",L)

L.sort()
print("List sorted in ascending order: ",L)

L.sort(reverse=True)
print("List sorted in descending order: ",L)

List after adding 200 and 300:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30:  [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order:  [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order:  [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [2]:
#q2
marks=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score=max(marks)
highest_index=marks.index(highest_score)
print(f"Highest score is {highest_score} and its index is {highest_index}")

lowest_score=min(marks)
lowest_count=marks.count(lowest_score)
print(f"Lowest score is {lowest_score} and it appears {lowest_count} times")

reversed_list=list(reversed(marks))
print("Reversed tuple as a list: ",reversed_list)

a=int(input("Enter a number: "))
if a in marks:
    first_occur=marks.index(a)
    print(f"{a} is present at index {first_occur}")
else:
    print(f"{a} is not present")

Highest score is 92 and its index is 5
Lowest score is 45 and it appears 2 times
Reversed tuple as a list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a number: 58
58 is present at index 6

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [3]:
#q3
import random

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print(f"Odd numbers ({len(odd_numbers)}): {odd_numbers}")

even_numbers = [num for num in random_numbers if num % 2 == 0]
print(f"Even numbers ({len(even_numbers)}): {even_numbers}")

prime_numbers = [num for num in random_numbers if is_prime(num)]
print(f"Prime numbers ({len(prime_numbers)}): {prime_numbers}")

Odd numbers (46): [153, 413, 129, 369, 409, 709, 329, 853, 267, 819, 525, 153, 355, 521, 259, 359, 273, 215, 123, 769, 717, 267, 665, 467, 365, 831, 691, 671, 333, 563, 803, 291, 119, 817, 273, 267, 569, 819, 261, 817, 709, 621, 555, 739, 793, 789]
Even numbers (54): [582, 520, 772, 100, 756, 590, 708, 870, 178, 382, 430, 470, 412, 442, 334, 180, 270, 554, 642, 668, 410, 312, 602, 750, 188, 292, 186, 416, 776, 840, 814, 416, 128, 744, 140, 818, 460, 260, 128, 754, 536, 878, 446, 564, 412, 368, 672, 286, 892, 370, 874, 244, 582, 472]
Prime numbers (12): [409, 709, 853, 521, 359, 769, 467, 691, 563, 569, 709, 739]

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [4]:
#q4

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print(f"Unique scores (Union): {unique_scores}")

common_scores = A.intersection(B)
print(f"Common scores (Intersection): {common_scores}")

exclusive_scores = A.symmetric_difference(B)
print(f"Exclusive scores (Symmetric Difference): {exclusive_scores}")

is_A_subset_B = A.issubset(B)
is_B_superset_A = B.issuperset(A)
print(f"Is Team A's scores a subset of Team B's scores? {is_A_subset_B}")
print(f"Is Team B's scores a superset of Team A's scores? {is_B_superset_A}")

X = int(input("Enter a score to remove from Team A's scores: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from Team A. Updated scores: {A}")
else:
    print(f"Score {X} is not present in Team A's scores.")

Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is Team A's scores a subset of Team B's scores? False
Is Team B's scores a superset of Team A's scores? False
Enter a score to remove from Team A's scores: 34
Score 34 removed from Team A. Updated scores: {56, 90, 78}

5. Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [5]:
#q5
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}